{% extends 'base.html' %}


{% block titlewebsite %}
Index
{% endblock %}


{% block headertitle %}
Dashboard
{% endblock %}


{% block content %}

<div class="card--container">
    <h3 class="main--title">Resumen</h3>
    <div class="card--wrapper">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="clients--card">
                    <div class="clients--header">
                        <div class="clients">
                            <span class="clients--title">
                                <i class="fa-solid fa-users"></i> Total Clientes:<span class="clients--number">
                                    {{ total_clients }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="products--card">
                    <div class="products--header">
                        <div class="products">
                            <span class="products--title">
                                <i class="fa-solid fa-cart-shopping"></i> Total Productos:<span class="clients--number">
                                    {{ total_products }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="deuda--card">
                    <div class="deuda--header">
                        <div class="deuda">
                            <span class="deuda--title">
                                <i class="fa-solid fa-dollar-sign"></i> Total Facturado:<span class="clients--number">
                                    {{ total_charged }} $
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 mb-12">
        <figure class="highcharts-figure">
            <div id="sales"></div>
        </figure>
    </div>
</div>



<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <br>
            <h5 class="card-title text-center" style="color: rgba(113, 99, 186, 255)">Cauchos con poco stock</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if little_stock_products_list %}
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in little_stock_products_list %}
                                            <tr>
                                                <td>{{ row.name }}</td>
                                                <td>{{ row.quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p class="text-center">No se encontraron cauchos con poco stock.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <br>
            <h5 class="card-title text-center" style="color: rgba(113, 99, 186, 255)">Cauchos sin stock</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if without_stock_products_list %}
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in without_stock_products_list %}
                                            <tr>
                                                <td>{{ row.name }}</td>
                                                <td>{{ row.quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p class="text-center">No se encontraron cauchos sin stock.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="col-md-4 mb-4">
        <div class="card">
            <br>
            <h5 class="card-title text-center" style="color: rgba(113, 99, 186, 255)">Ultimas Consignas</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if last_sales %}
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center;">Cliente</th>
                                            <th scope="col" style="text-align: center;">Producto</th>
                                            <th scope="col" style="text-align: center;">Deuda</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in last_sales %}
                                            <tr>
                                                <td style="text-align: center;">{{ row.client.fullname }}</td>
                                                <td style="text-align: center;">{{ row.product.name }}</td>
                                                <td style="text-align: center;">{{ row.total_deuda }} $</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p class="text-center">No se encontraron consignas</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>

<br>

<script>

// Create the chart
Highcharts.chart('sales', {
    chart: {
        type: 'column'
    },
    title: {
        align: 'center',
        text: 'Total Ventas anuales'
    },
    subtitle: {
        align: 'left',
        text: ''
    },
    accessibility: {
        announceNewData: {
            enabled: true
        }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Total $'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.2f}$'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}$</b> of total<br/>'
    },

    series: [
        {
            name: 'Browsers',
            colorByPoint: true,
            data: [
                {
                    name: 'Enero',
                    y: {{ total_january }}
                },
                {
                    name: 'Febrero',
                    y: {{ total_february }}
                },
                {
                    name: 'Marzo',
                    y: {{ total_march }}
                },
                {
                    name: 'Abril',
                    y: {{ total_april }}
                },
                {
                    name: 'Mayo',
                    y: {{ total_may }}
                },
                {
                    name: 'Junio',
                    y: {{ total_june }}
                },
                {
                    name: 'Julio',
                    y: {{ total_july }}
                },
                {
                    name: 'Agosto',
                    y: {{ total_august }}
                },
                {
                    name: 'Septiembre',
                    y: {{ total_september }}
                },
                {
                    name: 'Octubre',
                    y: {{ total_october }}
                },
                {
                    name: 'Noviembre',
                    y: {{ total_november }}
                },
                {
                    name: 'Diciembre',
                    y: {{ total_december }}
                }
            ]
        }
    ],
});

</script>

{% endblock %}