{% extends 'base.html' %}



{% block titlewebsite %}Clientes{% endblock %}

{% block headertitle %}Clientes{% endblock %}


{% block content %}
<div class="card--container">
    <div class="card--wrapper">
        <div class="row">
            <div class="col-sm-6 mb-2">
                <div class="clients--card">
                    <div class="clients--header">
                        <div class="clients">
                            <span class="clients--title">
                                <i class="fa-solid fa-users"></i> Total Clientes:<span class="clients--number">
                                    {{ all_clients }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card--container">
    <div class="card--wrapper">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-success" style="width: 200px; height: 50px;">
                <a href={% url 'clients:AddClient' %} style="color:white"><i class="fa-solid fa-plus"></i>Agregar</a>
            </button>
        <form method="GET" action="{% url 'clients:Clients' %}">
            <div class="search--box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search" name="search" />
                
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="row" style="text-align: center;">Nombre</th>
                    <th scope="row" style="text-align: center;">Email</th>
                    <th scope="row" style="text-align: center;">Telefono</th>
                    <th scope="row" style="text-align: center;">Direccion</th>
                    <th scope="row" style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
            <tr>
                <td style="text-align: center;">{{ client.fullname }}</td>
                <td style="text-align: center;">{{ client.email }}</td>
                <td style="text-align: center;">{{ client.phone }}</td>
                <td style="text-align: center;">{{ client.address }}</td>
                <td style="text-align: center;">
                    <a href="{% url 'clientsdata:ClientData' client.id %}" class="btn btn-info btn-sm">Consignas</a>
                    <a href="{% url 'clients:UpdateClient' client.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'clients:DeleteClient' client.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" style="text-align: center;">No se encontraron clientes.</td>
            </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
        </form>
    </div>
    <div class="pagination-container">
        <button id="prev-page-btn" class="btn btn-secondary btn-sm">Previous</button>
        <button id="next-page-btn" class="btn btn-secondary btn-sm">Next</button>
    </div>
</div>
{% endblock %}