{% extends 'base.html' %}


{% block titlewebsite %}Nuevo Producto{% endblock %}

{% block headertitle %}Productos{% endblock %}


{% block content %}
<div class="card--container">
    <div class="card--wrapper">
        <h2>Nuevo Producto</h2>
    </div>
</div>
<br>
<div class="card--container">
    <div class="card--wrapper">
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="id_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="col-md-6">
                <label for="id_description" class="form-label">Descripcion</label>
                <input type="text" class="form-control" name="description">
            </div>
            <div class="col-md-6">
                <label for="id_price" class="form-label">Precio</label>
                <input type="text" class="form-control" name="price">
            </div>
            <div class="col-md-6">
                <label for="id_quantity" class="form-label">Cantidad</label>
                <input type="text" class="form-control" name="quantity">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}